html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

ul,
li {
  text-decoration: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

img {
  display: flex;
  align-items: center;
}

.app-container {
  min-height: 350px;
}

.btn-delete-user {
  /* width: 40px; */
  text-align: center;
  box-sizing: content-box;
}

#btn-edit {
  width: 78px;
}

#bio input {
  height: 100%;
}

.btn-primary {
  background: #001b2b;
  border: #001b2b 1px;
  color: white;
}
.btn-primary:hover {
  background: #002a42;
  border: #002a42 1px;
  color: white;
}
.btn-danger {
  background: #bd2866;
  border: #bd2866 1px;
  color: white;
}
.btn-danger:hover {
  background: #db4081;
  border: #db4081 1px;
  color: white;
}

#navbar{
  background: #001b2b;
}

.navbar .navbar-expand .navbar-dark .bg-dark{
  background: #001b2b;
}
